.wrapper-form-backup {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
  width: 70%;
  height: 600px;
  margin-left: 280px;
  margin-top: 200px;
}
.wrapper-content-backup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wrapper_image-backup {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name-backup {
  font-size: 20px;
  font-weight: bold;
}
a {
  text-decoration: none;
}
